<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF-ZooManager.Properties.Settings.ZooDBConnectionString"
            connectionString="Data Source=MUGANGA\MUGASQL;Initial Catalog=ZooDB;Persist Security Info=True;User ID=sa;Password=Toothbrush@21;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>